body{
  font-size: 18px;
}

h2 {
  border-bottom: 1px solid;
  text-align: center;
}

/*accordion*/
.accordion {
  width: 500px;
  margin: 10px auto;
}
.accordion li{
  list-style-type: none;
}
.accordion button.accordion-control {
  width: 100%;
  background-color: #4083ef;
  color: #FFF;
  font-size: 18px;
  padding: 5px;
  margin-top: 5px;
  border: 0;
}
.accordion button.accordion-control:hover {
  cursor: pointer;
}
.accordion div.accordion-panel {
  border: 0;
  background-color: #7daaf2;
  padding: 5px;

}
/*end of accordion*/

/*tabbed panel*/
.tabbed-panel {
  width: 50%;
  margin: 5px auto;
}
.tabbed-panel ul {
  padding-left: 0;
  margin-bottom: 0;
}
.tabbed-panel li {
  display: inline-block;
  background-color: #666666;
  margin: 0;
  padding: 5px;
}
.tabbed-panel li.active {
  background-color: #0ba537;
}
.tabbed-panel li a{
  text-decoration: none;
  color: #FFF;
}
.tabbed-panel .tabbed-content {
  padding: 5px;
  background-color: #27f762;
}
.tabbed-content {
  display: none;
}
.tabbed-content.active {
  display: block;
}

/*end of tabbed panel*/
